<html>
<head>
    <title>Add Staff</title>
</head>
<body>
    <% if (err) { %>
        <p>Sorry, there was an error adding the staff member.</p>
    <% } else { %>
        <p>Staff member was added successfully.</p>
    <% } %>
</body>
</html>
